{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container">
    <h2>Add Room</h2>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Room Nr.</td>
            <td>Name</td>
            <td>Only For Premium Members (true / false)</td>
            <td>Delete</td>
            <td><a href="{{ path('room.add') }}">Add</a></td>

        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.onlyForPremiumMembers }}</td>
                <td>Delete</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
