{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container">
        <h1>{{ room.name }}</h1>
        <br>
        <img src="{{ asset('images/' ~ room.image)}}">
    </div>
{% endblock %}
